USE [vialidadSql]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 25/9/2018 20:01:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 25/9/2018 20:01:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 25/9/2018 20:01:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 25/9/2018 20:01:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 25/9/2018 20:01:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 25/9/2018 20:01:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Estados]    Script Date: 25/9/2018 20:01:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estados](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EstadoName] [nvarchar](max) NULL,
	[EstadoCountry] [nvarchar](max) NULL,
 CONSTRAINT [PK_Estados] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[infraccions]    Script Date: 25/9/2018 20:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[infraccions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Placa] [nvarchar](max) NULL,
	[VehicleColor] [nvarchar](max) NULL,
	[VehicleYear] [int] NOT NULL,
	[Ubicacion] [nvarchar](max) NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateUpdated] [datetime] NOT NULL,
	[EstadoId_EstadoId] [int] NULL,
	[UsoId_UsoId] [int] NULL,
	[TipoDeInfraccionId_TipoDeInfraccionId] [int] NULL,
	[VehicleModel] [nvarchar](250) NULL,
	[PeopleId] [int] NOT NULL,
	[OtherConcept] [nvarchar](250) NULL,
 CONSTRAINT [PK_infraccions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Personas]    Script Date: 25/9/2018 20:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Personas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NULL,
	[MiddleName] [nvarchar](100) NULL,
	[LastName1] [nvarchar](100) NULL,
	[LastName2] [nvarchar](100) NULL,
	[Direccion] [nvarchar](max) NULL,
	[PersonaPhoto] [varbinary](max) NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateUpdated] [datetime] NOT NULL,
	[LicenseNumber] [nvarchar](50) NULL,
	[LicenseType] [nvarchar](50) NULL,
 CONSTRAINT [PK_Personas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Profiles]    Script Date: 25/9/2018 20:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profiles](
	[ProfileId] [uniqueidentifier] NOT NULL,
	[ProfileName] [nvarchar](max) NULL,
	[UserId] [nvarchar](128) NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateUpdated] [datetime] NOT NULL,
	[AgentePlaca] [nvarchar](max) NULL,
	[PersonaId] [uniqueidentifier] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TipoDeInfraccions]    Script Date: 25/9/2018 20:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoDeInfraccions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TipoDeInfraccionName] [nvarchar](max) NULL,
	[Activa] [bit] NOT NULL,
	[Multiplicador] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateUpdated] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Usos]    Script Date: 25/9/2018 20:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UsoName] [nvarchar](max) NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateUpdated] [datetime] NOT NULL,
 CONSTRAINT [PK_Usos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VehicleBrands]    Script Date: 25/9/2018 20:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleBrands](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VehicleBrandName] [nvarchar](max) NULL,
 CONSTRAINT [PK_VehicleBrands] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VehicleModels]    Script Date: 25/9/2018 20:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleModels](
	[VehicleModelId] [int] NOT NULL,
	[VehicleModelName] [nvarchar](max) NULL,
	[VehicleBrandId] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'8fb3932f-ed85-4626-bb76-396e4fba82a7', N'dev')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'653ad1aa-8aeb-4e91-a5fa-4baba8641f4a', N'8fb3932f-ed85-4626-bb76-396e4fba82a7')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'653ad1aa-8aeb-4e91-a5fa-4baba8641f4a', N'ernestojtorres@hotmail.com', 1, N'AOnhuY9pZxe28qoO4zNVIoA28U+bTfYGaRoEIDo+6Rk3wsqr8RXd+78uqMVK/4mKuw==', N'2b71bd64-abcf-46d1-abf6-d98ec89f7c30', NULL, 0, 0, NULL, 0, 0, N'ernesto')
SET IDENTITY_INSERT [dbo].[Estados] ON 

INSERT [dbo].[Estados] ([Id], [EstadoName], [EstadoCountry]) VALUES (1, N'Aguascalientes', N'MEX')
INSERT [dbo].[Estados] ([Id], [EstadoName], [EstadoCountry]) VALUES (2, N'Baja California', N'MEX')
INSERT [dbo].[Estados] ([Id], [EstadoName], [EstadoCountry]) VALUES (3, N'Baja California Sur', N'MEX')
SET IDENTITY_INSERT [dbo].[Estados] OFF
INSERT [dbo].[Profiles] ([ProfileId], [ProfileName], [UserId], [DateCreated], [DateUpdated], [AgentePlaca], [PersonaId]) VALUES (N'46cb0414-fc6e-4a90-bbfd-0ab70ae0d22c', N'Ernesto', N'653ad1aa-8aeb-4e91-a5fa-4baba8641f4a', CAST(N'2018-09-17 20:14:23.677' AS DateTime), CAST(N'2018-09-17 20:14:23.677' AS DateTime), NULL, N'00000000-0000-0000-0000-000000000000')
SET IDENTITY_INSERT [dbo].[TipoDeInfraccions] ON 

INSERT [dbo].[TipoDeInfraccions] ([Id], [TipoDeInfraccionName], [Activa], [Multiplicador], [DateCreated], [DateUpdated]) VALUES (1, N'12 F.VI Falta de luces delanteras', 1, 1, CAST(N'2018-09-19 17:13:30.497' AS DateTime), CAST(N'2018-09-19 17:13:30.497' AS DateTime))
INSERT [dbo].[TipoDeInfraccions] ([Id], [TipoDeInfraccionName], [Activa], [Multiplicador], [DateCreated], [DateUpdated]) VALUES (2, N'12 F. IV Falta de luces posteriores', 1, 1, CAST(N'2018-09-19 17:47:16.260' AS DateTime), CAST(N'2018-09-19 17:47:16.260' AS DateTime))
INSERT [dbo].[TipoDeInfraccions] ([Id], [TipoDeInfraccionName], [Activa], [Multiplicador], [DateCreated], [DateUpdated]) VALUES (3, N'24 F.V Uso Tel o AP Comunicacion', 1, 1, CAST(N'2018-09-19 17:53:12.443' AS DateTime), CAST(N'2018-09-19 17:53:12.443' AS DateTime))
SET IDENTITY_INSERT [dbo].[TipoDeInfraccions] OFF
SET IDENTITY_INSERT [dbo].[Usos] ON 

INSERT [dbo].[Usos] ([Id], [UsoName], [DateCreated], [DateUpdated]) VALUES (1, N'Particular', CAST(N'2018-09-19 17:13:30.497' AS DateTime), CAST(N'2018-09-19 17:13:30.497' AS DateTime))
INSERT [dbo].[Usos] ([Id], [UsoName], [DateCreated], [DateUpdated]) VALUES (2, N'Comercial', CAST(N'2018-09-19 17:13:30.497' AS DateTime), CAST(N'2018-09-19 17:13:30.497' AS DateTime))
INSERT [dbo].[Usos] ([Id], [UsoName], [DateCreated], [DateUpdated]) VALUES (3, N'Test', CAST(N'2018-09-23 00:00:00.000' AS DateTime), CAST(N'2018-09-23 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Usos] OFF
SET IDENTITY_INSERT [dbo].[VehicleBrands] ON 

INSERT [dbo].[VehicleBrands] ([Id], [VehicleBrandName]) VALUES (1, N'Acura')
INSERT [dbo].[VehicleBrands] ([Id], [VehicleBrandName]) VALUES (2, N'Alfa Romeo')
INSERT [dbo].[VehicleBrands] ([Id], [VehicleBrandName]) VALUES (3, N'Audi')
SET IDENTITY_INSERT [dbo].[VehicleBrands] OFF
